
<div class="row">
    <div class="col-sm-6 col-xs-12 login-box">
        <div class="opacity-box" onclick="document.location ='@Url.Action("Login","Account")';">
            <h2>
                Zaloguj jako administrator
            </h2>
        </div>
    </div>
    <div class="col-sm-6 col-xs-12 login-box">
        <div class="opacity-box" onclick="document.location ='@Url.Action("LoginStudent","Account")';">
            <h2>
                Zaloguj jako student<br />
            </h2>
            <p>
                * Logując się w systemie wyrażasz zgodę na przetwarzanie danych osobowych zgodnie z ustawą z dnia 29 sierpnia 1997 r.
                o ochronie danych osobowych (tekst jednolity Dz. U. z 2002 r. Nr 101, poz. 926, z późn. zm.)
            </p>
        </div>
    </div>
</div>