@model LoginViewModel
@using UCS.Web.ViewModels

@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        @if (Model.HasError)
        {
            <div class="col-sm-8 col-sm-offset-2 validation-box">
                <div class="col-sm-8 col-sm-offset-2">
                    @Html.ValidationSummary()
                </div>
            </div>
        }
        <div class="col-sm-8 col-sm-offset-2 blue-box">
            <div class="col-sm-8 col-sm-offset-2">
                @Html.TextBoxFor(l => l.Email, new { @placeholder = "Podaj adres e-mail..." })
            </div>
            <div class="col-sm-8 col-sm-offset-2">
                @Html.PasswordFor(l => l.Password, new { @placeholder = "Podaj hasło..." })
            </div>
            <div class="col-sm-8 col-sm-offset-2">
                <input type="submit" class="btn btn-block" value="Zaloguj" />
            </div>
        </div>
    </div>
}