body {
    padding-bottom: 20px;
    background: url('Background.jpg') top left;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    padding: 10px 0;
    background-color: #023e84;
    margin-bottom: 20px;
}

    header p {
        color: #fff;
    }

    header h2 {
        cursor: pointer;
        margin: 10px 0;
        font-size: 34px;
        color: #fff;
    }

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.login-box,
.menu-box {
    margin-top: 50px;
    cursor: pointer;
    display: table;
}

    .login-box div.opacity-box {
        border: solid 1px #111;
        height: 400px;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.97);
        padding: 0 10px;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }

        .login-box div.opacity-box p {
            font-size: 10px;
            margin: 0;
        }

        .login-box div.opacity-box h2,
        .menu-box div.opacity-box h2 {
            margin: 0;
        }

        .login-box div.opacity-box:hover,
        .menu-box div.opacity-box:hover {
            background-color: rgb(255, 255, 255);
        }

    .menu-box div.opacity-box {
        border: solid 1px #111;
        height: 200px;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.97);
        padding: 0 10px;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }

.validation-box {
    margin: 0 10px;
    background-color: #f72600;
    padding-top: 10px;
    font-size: 16px;
    color: #fff;
}

.blue-box {
    margin: 10px;
    padding: 30px 0;
    background-color: rgba(2, 62, 132,0.9);
}

    .blue-box input[type=text],
    .blue-box input[type=password] {
        margin: 10px 0;
        padding: 5px 10px;
        width: 100%;
        border: 0;
        font-size: 16px;
    }

    .blue-box textarea,
    .blue-box select {
        margin: 10px 0;
        padding: 5px 10px;
        resize: none;
        width: 100%;
        font-size: 16px;
    }

    .blue-box textarea {
        height: 15em;
    }

    .blue-box input[type=submit] {
        margin: 30px 0 10px 0;
        padding: 5px 10px;
        width: 100%;
        border-radius: 0;
        background-color: #fff;
        font-size: 18px;
    }

    .blue-box label {
        font-size: 18px;
        color: #fff;
    }

    .blue-box p {
        font-size: 16px;
        color: #fff;
    }

        .blue-box p label {
            font-weight: normal;
            cursor: pointer;
            font-size: 14px;
        }

    .blue-box h3 {
        color: #fff;
        margin-top: 0;
        margin-bottom: 20px;
    }

.table-box {
    margin: 0 10px 10px 10px;
    background-color: rgba(2, 62, 132,0.9);
    padding: 10px 20px;
    color: #fff;
}

    .table-box h4 {
        margin: 10px;
        float: left;
    }

    .table-box p {
        text-align: right;
        margin: 0;
        margin-top: 10px;
    }

    .table-box a {
        padding: 5px 10px;
        margin: 5px;
        text-align: center;
        border-radius: 0;
    }

.white-a a {
    color: #fff;
}

    .white-a a:hover {
        color: #fff;
    }

table,
table th {
    text-align: center;
}

.button-box {
    margin: 10px;
    padding: 15px 0;
    background-color: rgba(2, 62, 132, 0.9);
}

    .button-box a {
        width: 100%;
        border-radius: 0;
        background-color: #fff;
        font-size: 16px;
        color: #111;
    }

.information-box {
    margin: -10px 10px 10px 10px;
    padding: 10px 20px;
    color: #fff;
    background-color: #00b1ff;
}
